@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.home,
.services,
.fitness,
.about {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.list-empty{
  font-family: 'Baloo Tammudu 2', cursive;
  font-size:medium;
  padding-top: 5px;
  position: relative;
  background-color: #f4f6fb;
  border-radius: 10px;
  margin: auto;
  width: 500px;
  top: 50px;
  padding: 0px 20px;
  padding-top: 5px;
  text-align: center;
}

.searchPage{
  background-image: url('./component/blur-hospital.jpg');
  height: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}