@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
.medicamentTitle{
    font-family: 'Baloo Tammudu 2', cursive;
    padding:1rem 2rem;
    padding-top: 50px;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.medicamentcontainer{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size:medium;

    background-image: url('./blur-hospital.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.medicamentList{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size:large;

    width: 85%;
    height: auto;
    color:rgba(12, 15, 12, 0.733);
    position: relative;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}
.medicamenttable table {
    font-family: 'Baloo Tammudu 2', cursive;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: #e1e5ee;
    text-align: left;
    overflow: hidden;
}

.medicamentList tr th {
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.medicamentList tr td {
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 1rem 2rem;
}
.medicamentList tr:nth-child(odd) {
    background-color:#f4f6fb ;
}
.lineheight{
    line-height: 80px;
}